 <%= link_to trip_path(trip) do %>
   <div class="card-trip">
    <%= cl_image_tag trip.photo_key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2><%= trip.name %></h2>
      </div>
    </div>
  </div>
<% end %>
