<div class="d-flex justify-content-center" style="position: absolute; width: 100%; top: 15px; background-color: white">

  <%= image_tag "loading.png", height: 200, crop: :fill %>

</div>

<div style="position: absolute; width: 100%; top: 200px; background-color: white">
  <% if user_signed_in? %>
    <div class="text-center" id="btn-apear">
      <h3 class="">Checklist created!</h3>
      <p class="mt-5">Thank you for already beeing a member!</p>
      <%= link_to "See my checklist", trip_path(@trip), class:"btn btn-primary w-50 mt-2" %>
    </div>

  <% else %>

    <div class="text-center" id="btn-apear">
      <h3 class="mt-5">Checklist created!</h3>
      <p class="mt-5">We found <%= @trip.tasks.length %> tasks for you! Please log in or register to see your tasks!</p>
      <%= link_to "Login or Register", trip_path(@trip), class:"btn btn-primary w-50 mt-2" %>
    </div>

  <% end %>
</div>
