<div class="main" id="section1">
  <div
    id="map"
    style="width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div style="position: relative; bottom: 200px;">
    <a href="#section2" class="arrow-down animate"></a>
  </div>

</div>

<div class="container" style="min-height: 95vh" id="section2">
  <div style="position: relative; top: 20px">
    <a href="#section1" class="arrow-up animate"></a>
  </div>
  <br>
  <div class="shadow-sm m-5 p-2 bg-white rounded">
    <h2>Your trips</h2>


    <div class="trip-overview">
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip) do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= trip.name %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 400, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
