// Define variables for your color scheme
/* Coolors Exported Palette - coolors.co/7798ab-b2c8b4-eee5cc-7b8284-c7a9bd */

/* RGB */
$color1: rgba(119, 152, 171, 1);
$color2: rgba(178, 200, 180, 1);
$color3: rgba(238, 229, 204, 1);
$color4: rgba(123, 130, 132, 1);
$color5: rgba(199, 169, 189, 1);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
