.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.2s ease;
  border-radius: 4px;

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 16px 16px 16px;
    text-decoration: none;
  }

  h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 16px 16px 16px 16px;
    text-decoration: none;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0px 16px 0px 16px;
  }
}

.trip-overview {
  display: grid;
  grid-gap: 32px;
  flex-grow: 1;
  transition: 0.2s ease;
}

@include media-breakpoint-up(sm) {
  .trip-overview {
    grid-template-columns: 1fr;
  }
}

@include media-breakpoint-up(md) {
  .trip-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-up(xl) {
  .trip-overview {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
