@media (min-width: 300px) {
  #slogan{
    font-size: 40px;
    margin-top: 75px;
  }

  #regForm{
    margin-bottom: 0px !important;
  }

  .cal{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

  }
}


@media screen and (max-width: 1200px) {
  .mobile-hide {
    visibility: hidden;
  }
}

