

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-10 col-md-6">
      <form accept-charset="UTF-8" action='auto_create' class="auto_create" id="auto_create" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <input type="search" class="form-control" id="address"  placeholder="Where are you going?" style="opacity: 0.75">
        </div>
        <input type="submit" class="sr-only" tabindex="-1">
      </form>
    </div>
  </div>
</div>



































<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
<script>
  (function() {
    var placesAutocomplete = places({
      appId: 'plDZQY8F8SRD',
      apiKey: 'ed238104cbd48ccfdfbd3c9f2ae81ae8',
      container: document.querySelector('#address')
    });

    var $address = document.querySelector('#address-value')
    placesAutocomplete.on('change', function(e) {
      $address.textContent = e.suggestion.value
    });

    placesAutocomplete.on('clear', function() {
      $address.textContent = 'none';
    });

  })();
</script>









