<div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col-12 col-lg-8">
      <div class="p-5 standare">
        <div class="d-block">
          <div class="text-center">
            <h1>Hola!</h1>
            <h3>Making your awesome checkilist</h3>
          </div>
          <div id="progressbar">
            <span id="loading"></span>
            <div id="load"></div>
          </div>
          <div class="text-center" id="btn-apear">
            <%= link_to "get my checkilist", root_path, class:"btn btn-primary w-50 mt-5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gather all the informaton
Peronalize it
Create your Task!
 -->
