<div
  id="map"
  style="width: 100%;
  height: 100vh;
  top: 0px;
  z-index: -1;
  left: 0px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div style="position: absolute; top: 100px; left: 40px;">
  <h2>Welcome to your Dashboard</h2>
</div>

<div class="container" style="min-height: 95vh">
  <div class="shadow-sm m-5 p-5 bg-white rounded">
    <h2>Your trips</h2>

    <% current_user.trips.each do |trip| %>

      <%= trip.name %>

    <% end %>

  </div>
</div>
