<form accept-charset="UTF-8" action="/trips" class="new_trip" id="new_trip" method="get">>

  <input id="input-1" type="text" placeholder="Argentina" required autofocus />
  <label for="input-1">
    <span class="label-text">Destination</span>
    <span class="nav-dot"></span>
    <div class="signup-button-trigger">Sign Up</div>
  </label>
  <input id="input-2" type="text" placeholder="Paris" required />
  <label for="input-2">
    <span class="label-text">From</span>
    <span class="nav-dot"></span>
  </label>
  <input id="input-4" type="date" placeholder="date" required />
  <label for="input-4">
    <span class="label-text">When</span>
    <span class="nav-dot"></span>
  </label>
  <button type="submit">Let´s see what you need!</button>
  <p class="tip">Press Tab</p>
  <div class="signup-button">Let´s Travel!</div>
</form>




