<div class="d-flex justify-content-around">
  <div class="start">
    <h1 class="logo-font display-3 m-0 p-0">Planit</h1>
    <div class="start-box">

    <h6 class="my-0 mr-1">Where are you going?</h6>
      FORM HERE
    </div>

    <button class="logo-font btn-invisible" data-toggle="modal" data-target="#login-modal">or log into your existing account</button>

  </div>
</div>
