
<div class="container">
  <div class="p-4">
    <h1 class="animated slideInLeft slow">Create</h1>
    <h1 class="animated slideInUp slow">The perfect</h1>
    <h1 class="animated slideInRight slow">Travel checklist</h1>
  </div>
</div>


<div class="container">
  <%= render 'shared/form' %>

</div>
