
<div class="container">
  <div class="p-5 m-5 d-flex justify-content-center">
    <h1 class="animated slideInLeft slow">Create &nbsp;</h1>
    <h1 class="animated slideInUp slow">the &nbsp;</h1>
    <h1 class="animated slideInDown slow">perfect &nbsp;</h1>
    <h1 class="animated slideInUp slow">travek &nbsp;</h1>
    <h1 class="animated slideInRight slow">checklist</h1>
  </div>
</div>


<div class="container">
  <%= render 'shared/form' %>

</div>
