<div class="container">
  <div class="container animated bounceInDown delay-3s">
    <h1 style="margin-top: 20%" class="d-flex justify-content-center"><br>Create the perfect travel checklist</h1>
  </div>

  <div class="animated bounceInUp delay-3s">
    <%= render  'shared/green' %>
  </div>
</div>
