<div class="subtasks-col">
  <% task.subtasks.each do |subtask| %>

  <%= render "subtasks/subtask", task: task, subtask: subtask %>

  <% end %>
</div>
<div class="new-subtask-btn active">
  <div class='btn' id='new-subtask-btn'>
    <div class="grab-btn d-flex align-items-center text-center"><i class="grab-btn fas fa-plus py-auto"></i><h2 class='grab-btn btn-lbl pl-2'>Add Subtask</h2></div>
  </div>
</div>
<div class="new-subtask-form">
  <%= render 'subtasks/create_form', task: task, subtask: Subtask.new %>
</div>
