.task-card{
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0px;
    margin-top: 8px;
    width: 100%;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .task-card-infos {
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .task-header .info {
    padding-right: 50px;
  }
}


.subtask-card{
  position: relative;
  height: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(black, 0.2);
  padding: 5px;
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .subtask-card-infos {
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .subtask-header .info {
    margin-top: 6px;
    padding-right: 100px;
  }
}


