.task-card{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 3px;
    margin-top: 8px;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .task-card-infos {
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

}

.subtask-card{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(black, 0.2);
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .subtask-card-infos {
    padding: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.task-buttons {
  position: absolute;
  bottom: 3px;
  right: 10px;
}

.subtask-buttons {
  position: relative;
  bottom: 0px;
  right: 10px;
}

.task-container {
  background-color: rgba(white,0.8);
  box-shadow: 0 0 15px rgba(gray,0.5);
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px;
  &:hover {
    background-color: rgba(white,1);
  }
}

.subtasks {
  display: none;
  margin-left: 50px;
  padding-left: 10px;
  border-left: 1px solid black;
}

.active{
  display: block;
}

.check {
  font-size: 30px;
}
