.mapboxgl-popup-content {
  background: rgba(0, 0, 0, 0);
  border-radius: 8px !important;
  // box-shadow: 11px 14px 38px gray !important;
  margin: 7% !important;
  padding: 0px !important;
}

.mapboxgl-popup-close-button{
  position: absolute !important;
  right: -36px !important;
  top: -29px !important;
  border: 0 !important;
  border-radius: 0 3px 0 0 !important;
  cursor: pointer !important;
  background-color: transparent !important;
  color: white !important;
  font-size: 38px !important;
  font-weight: 800 !important;
  transition: 0.2s ease !important;
}

.mapboxgl-popup-close-button:hover {
  background-color: rgba(0,0,0,.0) !important;
   transform: scale(1.05) !important;
}
