.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  font-family: $headers-font;
  color: white;
  transition: 0.2s ease;

  a {
    font-size: 120%;
  }

  .nav-link {
    // color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-white {
  background: rgb(255,137,102);
  background: linear-gradient(103deg, rgba(255,137,102,0.7329525560224089) 0%, rgba(255,162,102,1) 100%);

}
