// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "animate";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "tasks/index";




body {
  background: rgb(255,137,102);
  background: linear-gradient(103deg, rgba(255,137,102,0.7329525560224089) 0%, rgba(255,162,102,1) 100%);

  // background: #FF8966;
  // // background: linear-gradient(100deg, rgba(255,209,102,1) 0%, rgba(6,214,160,1) 50%, rgba(38,84,124,1) 100%);
  color: black;
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
}


.logo-font {
  text-shadow: 0px 0px 5px #000000;
  color: white !important;
}

.ap-dropdown-menu {
  opacity: 0.75;
}


